{% extends "til_base.html" %}

{% set tils = sql("""
    select * from til where topic = :topic order by created_utc desc
""", {"topic": topic}, database="tils")
%}

{% block title %}Simon Willison: TILs on {{ topic }}{% endblock %}<!DOCTYPE html>

{% block body %}

{% if not tils %}
    {{ raise_404("No TILs found") }}
{% endif %}

<h1>Simon Willison: TILs on {{ topic }}</h1>

{% for til in tils %}
    <h3><span class="topic">{{ til.topic }}</span> <a href="/{{ til.topic }}/{{ til.slug }}">{{ til.title }}</a> - {{ til.created[:10] }}</h3>
    {{ first_paragraph(til["html"]).replace("</p>", " &#8230; </p>")|safe }}
{% endfor %}

{% endblock %}
