{% extends "til_base.html" %}

{% set tils = sql("""
    select * from til where path = :topic || '_' || :slug || '.md'
""", {"topic": topic, "slug": slug}, database="tils")
%}
{% set til = tils[0] %}
{% if not tils %}
    {% set raised = raise_404("TIL not found") %}
{% endif %}

{% block title %}{{ til.title }} | Simon Willison’s TILs{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/github-light.css">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@simonw">
<meta name="twitter:title" content="{{ til.title }}">
<meta name="twitter:description" content="{{ til.body }}">
<meta name="twitter:image" content="https://til.simonwillison.net/-/media/screenshot/{{ til.path }}">
<meta name="twitter:image:alt" content="Screenshot of this article">
<meta property="og:url" content="https://til.simonwillison.net/til/til/{{ til.path }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ til.title }}">
<meta property="og:description" content="{{ til.body }}">
<meta property="og:image" content="https://til.simonwillison.net/-/media/screenshot/{{ til.path }}">
<meta property="og:image:alt" content="Screenshot of this article">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="400">
{% endblock %}

{% block body %}
<h1>{{ til.title }}</h1>

{{ til.html|safe }}

{% set related = related_tils(til) %}
{% if related %}
  <h3>Related</h3>
  <ul class="related">
    {% for til in related %}
    <li><span class="topic">{{ til.topic }}</span> <a href="/{{ til.topic }}/{{ til.slug }}">{{ til.title }}</a> - {{ til.created[:10] }}</li>
    {% endfor %}
  </ul>
{% endif %}

<p class="created">Created {{ til.created }}{% if til.created != til.updated %}, updated {{ til.updated }} &middot; <a href="{{ til.url|replace("https://github.com/simonw/til/blob/", "https://github.com/simonw/til/commits/") }}">History</a>{% endif %} &middot; <a href="{{ til.url }}">Edit</a></p>
{% endblock %}
