{% extends "til_base.html" %}

{% block title %}{% set til = display_rows[0] %}{{ til.title }} | Simon Willison’s TILs{% endblock %}

{% block extra_head %}{% set til = display_rows[0] %}
<link rel="stylesheet" href="/static/github-light.css">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@simonw">
<meta name="twitter:title" content="{{ til.title }}">
<meta name="twitter:description" content="{{ til.body }}">
<meta name="twitter:image" content="https://til.simonwillison.net/-/media/screenshot/{{ til.path }}">
<meta name="twitter:image:alt" content="Screenshot of this article">
<meta property="og:url" content="https://til.simonwillison.net/til/til/{{ til.path }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ til.title }}">
<meta property="og:description" content="{{ til.body }}">
<meta property="og:image" content="https://til.simonwillison.net/-/media/screenshot/{{ til.path }}">
<meta property="og:image:alt" content="Screenshot of this article">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="400">
{% endblock %}

{% block body %}{% set til = display_rows[0] %}
<h1>{{ til.title }}</h1>

{{ til.html|safe }}

<p class="created">Created {{ til.created }}{% if til.created != til.updated %}, updated {{ til.updated }} &middot; <a href="{{ til.url|replace("https://github.com/simonw/til/blob/", "https://github.com/simonw/til/commits/") }}">History</a>{% endif %} &middot; <a href="{{ til.url }}">Edit</a></p>
{% endblock %}
