<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% set til = display_rows[0] %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ til.title }} | Simon Willison’s TILs</title>
<link rel="stylesheet" href="/static/github-light.css">
<style>
body {
    font-family: helvetica;
    padding: 1em 2em;
    max-width: 800px;
    line-height: 1.4;
}
.created {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    font-size: 0.8em;
}
</style>
</head>
<body>
<nav><a href="/">TIL index</a></nav>
<h1>{{ til.title }}</h1>

{{ til.html|safe }}

<p class="created">Created {{ til.created }}{% if til.created != til.updated %}, updated {{ til.updated }}{% endif %} &middot; <a href="{{ til.url|replace("https://github.com/simonw/til/blob/", "https://github.com/simonw/til/commits/") }}">History</a> &middot; <a href="{{ til.url }}">Edit</a></p>

</body>
</html>
